<%- include('includes/head.ejs') %>

</head>
<!-- Body-->
<body>
  <%- include('includes/nav.ejs') %>

  <section class="container pb-5 mb-sm-2 mb-lg-3 mb-xl-4 mb-xxl-5">
    <div class="row align-items-center pb-md-3">
      
      <div class="col-md-6 col-lg-5 offset-lg-1">
        <div class="ps-md-4 ps-lg-0">
          <h2 class="h3 mb-sm-4"><%= duyuru.duyuru_adi %></h2>
          <p class="mb-4 mb-lg-5"><%= duyuru.aciklama %></p>
          <ul class="list-unstyled mb-0">
            <li>İlk Tarih: <%= duyuru.tarih %></li> <!-- Tarih bilgisini görüntüle -->
            <li>Son Tarih: <%= duyuru.sonTarih %></li> <!-- Son Tarih bilgisini görüntüle -->
          </ul>
        </div>
      </div>
    </div>
  </section>

<%- include('includes/foot.ejs') %>
